.btn {
  --stroke-color: transparent;
  background-color: var(--fill-color);
  border: 2px solid var(--stroke-color);
  border-radius: 4px;
}

.btn[data-size="small"] {
  font-size: 14px;
  padding: 3px 6px;
}

.btn[data-size="normal"] {
  font-size: 16px;
  padding: 5px 10px;
}

.btn[data-size="large"] {
  font-size: 20px;
  padding: 8px 12px;
}

.btn[data-result="neutral"] {
  --fill-color: lightgray;
}

.btn[data-result="positive"] {
  --fill-color: lightgreen;
}

.btn[data-result="negative"] {
  --fill-color: orangered;
}

.btn[data-outline] {
  --fill-color: transparent;
}

.btn[data-outline][data-result="neutral"] {
  --stroke-color: lightgray;
}

.btn[data-outline][data-result="positive"] {
  --stroke-color: green;
}

.btn[data-outline][data-result="negative"] {
  --stroke-color: red;
}
